---
import Layout from '../layouts/Layout.astro';
import InfoPage from '../layouts/InfoPage.astro';
---

<Layout title="Boxe">
  <InfoPage title="Boxe" img="/images/box.jpg" imgAlt="Boxeador">
    <section>
      <h2 class="text-4xl mb-6">
        A história do boxe 
      </h2> 
      <p class="mb-4">
        O boxe é tradicionalmente um tipo de luta que tem como principal característica o combate “homem a homem” utilizando-se apenas dos punhos. Por ser um meio de combate, o boxe apenas passou a integrar o calendário moderno dos Jogos Olímpicos em 1920, na Olimpíada de Antuérpia (Bélgica). O Comitê Olímpico Internacional acreditava que o boxe era uma prática que incitava a violência, fato que contrariava o ideal de fraternidade, mote estreitamente vinculado ao espírito olímpico.<br/>
      </p>
      <p class="mb-4">
        Deve-se ressaltar que o boxe é uma luta bastante tradicional no Ocidente. Há relatos de que ela era praticada entre jovens, na Creta Antiga. Outro elemento a ser considerado são os indicativos de que o boxe integrou os Jogos Olímpicos da Antiguidade. Porém, tratando de um período mais recente, foi na Inglaterra dos séculos XVIII e XIX que o boxe ficou bastante popular: era um combate de rua, lutado com as mãos desprotegidas, marcado pela violência dos golpes. A versão moderna do boxe foi oficializada em 1867, porém foram colocadas efetivamente em prática apenas em 1872, com as regras de Queensberry: o uso de luvas era obrigatório e o confronto era composto de rounds de três minutos cada. Atualmente, uma luta de boxe é constituída de dez rounds. Em alguns casos excepcionais, a partida pode ter até doze.
      </p>
      <p>
        Uma curiosidade é que, mesmo sob o domínio da Associação Mundial de Boxe, as regras não são as mesmas entre as competições amadoras e profissionais. Variam, inclusive, entre as diferentes comissões organizadoras profissionais. Um fato muito comum é o de antes de uma grande luta, as regras gerais e particulares são expostas em uma reunião entre as duas partes que entrarão em confronto. As organizadoras da luta também decidem sobre o tamanho do ringue, mas sua estrutura deve ser sempre a mesma em todas as lutas: trata-se de uma plataforma quadrada elevada com uma superfície de lona acolchoada. Em todo caso, a área máxima de um ringue deve ser de 6,10 metros quadrados.
      </p>
    </section>
  </InfoPage> 
</Layout>
