---
import Layout from '../layouts/Layout.astro';
import InfoPage from '../layouts/InfoPage.astro';
---

<Layout title="A equipe">
  <InfoPage title="A equipe" img="/images/equipe.jpg" imgAlt="A equipe cmt12">
  <div class="space-y-5">
    <div class="bg-primary rounded overflow-hidden pb-2 md:pb-8">
      <img src="/images/mestre.jpg" class="w-full m-auto"/>
      <div class="p-4 space-y-3 md:px-[200px]">
        <div class="text-center">
          <h3 class="text-3xl">Clayton Mangueira</h3>   
          <h4 class="text-gray-500">Mestre e fundador</h4>
        </div>
        <div class="flex justify-center gap-4 text-2xl">
          <a href="https://www.facebook.com/claytonmangueira" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="https://www.instagram.com/claytonmangueira/" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCT8vyVTRJJskPAs2VxV5A1Q/videos" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
        <div class="space-y-4 text-center px-4">
          <p>
            Bacharel em Educação Física pela UGF e Pós Graduado em Gestão de Negócios em Fitness e Wellness pela Univoa. Carlos Clayton de Souza, o Clayton Mangueira é Grau Preto de Muay Thai, Faixa Preta de Jiu-Jitsu e treinador de diversas modalidades como Boxe, Beachboxing, Luta Olímpica, Luta Livre e MMA.
          </p>
          <p>
            Nascido na década de 70 na Maternidade Carmela Dutra, no Rio de Janeiro, Mangueira é colecionador de medalhas e bicampeão do ranking mundial da IBJJF 2018/2019 na modalidade no-gi (sem kimono) e detém diversas outras conquistas.
          </p>
          <p>
            Em sua jornada também pôde contar com participações no cinema e tv, como em novelas da Rede Globo, documentário do History Channel e até do filme Tropa de Elite.
          </p>
          <p>
            Apelidado de Mangueira pelo Grão Mestre Luiz Alves "In Memoriam" sempre que chegava para treinar na academia Budokan, por conta de seu projeto social no bairro deste mesmo nome, no Rio de Janeiro, levando o esporte para jovens e crianças carentes daquela comunidade.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-primary rounded overflow-hidden pb-2 md:pb-8">
      <img src="/images/bicudo.jpg" class="w-full"/>
      <div class="p-4 space-y-3 md:px-[200px]">
        <div class="text-center">
          <h3 class="text-3xl">Marcos Bicudo Maciel</h3>   
        </div>
        <div class="flex justify-center gap-4 text-2xl">
        </div>
        <div class="space-y-4 text-center px-4">
          <p>
            Nascido na cidade do RJ no ano de 1985 no subúrbio carioca
          </p>
          <p>
            Marcos Bicudo Maciel começou a treinar artes marciais com o mestre Clayton Mangueira em um projeto social no ano de 1997 seguindo os passos do mestre seguiu seus passos em direção a famosa academia Budokan aonde iniciou os treinos de Muay Thai e luta livre esportiva.
          </p>
          <p>
            Após Longos anos de treinos formou-se faixa preta de luta livre esportiva do renomado Mestre Clayton Mangueira no ano de 2008.
          </p>
          <p>
            Conquistando inúmeros títulos na modalidade luta livre esportiva e Nogi, Tri campeão do Naga, campeão nacional Americano ibjjf, campeão copa Budokan de luta livre esportiva.
          </p>
        </div>
      </div>
    </div>
    <div class="bg-primary rounded overflow-hidden pb-2 md:pb-8">
      <img src="/images/charuto.jpg" class="w-full"/>
      <div class="p-4 space-y-3 md:px-[200px]">
        <div class="text-center">
          <h3 class="text-3xl">Rodrigo Pereira da Silva Charuto</h3>   
        </div>
        <div class="flex justify-center gap-4 text-2xl">
          <a href="https://www.facebook.com/charutogcb" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="https://www.instagram.com/charutogcb" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
          </a>
        </div>
        <div class="space-y-4 text-center px-4">
          <p>
            Nascido em 04 de Junho de 83. Grau preto de Muay-thai pela CMT12; corda preta de capoeira Grupo Capoeira Brasil.
          </p>
        </div>
      </div>
    </div>
  </div>
  </InfoPage> 
</Layout>
