---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.tsx';
import LocationTabs from '@/components/LocationTabs.tsx';
import HoursList from '@/components/HoursList.tsx';

const aulas = [
  {
    nome: 'boxe',
    img: '/images/box.jpg',
    horarios: ['terça: 8:30h/18h/19h', 'quinta: 8:30h/18h/19h'],
  },
  {
    nome: 'jiu jitsu',
    img: '/images/jiujitsu.jpg',
    horarios: ['terça: 20h', 'terça (kids): 18:30h', 'quinta: 20h', 'quinta (kids): 18:30h']
  },
  {
    nome: 'muay thai',
    img: '/images/muaythai.jpg',
    horarios: [
      'segunda: 8:30h/18h/19h/20h', 'segunda (kids): 19h', 'terça: 17h', 'quarta: 8:30h/18h/19h/20h',
      'quarta (kids): 19h', 'quinta: 17h'
    ]
  },
  {
    nome: 'luta livre',
    img: '/images/lutalivre.jpg',
    horarios: [
      'segunda: 20h',
      'quarta: 20h'
    ]
  }
]
---

<Layout title="Bem-vindo a CMT 12">
	<main class="min-h-full text-white">
    <section>
      <div class="relative">
        <Image src="/images/background_1.jpg" alt="background" width="429" height="286" class="w-full grayscale brightness-75 md:hidden" />
        <Image src="/images/background_2.jpg" alt="background" width="429" height="286" class="w-full grayscale brightness-75 hidden md:block" />
        <div class="absolute top-0 left-0 h-full w-full flex flex-col justify-center items-center gap-4 text-white px-5 text-center">
          <h1 class="text-white text-7xl lato-bold md:text-9xl">
            CMT 12
          </h1> 
          <h2 class="lato-regular md:text-xl">
            A MELHOR ESCOLA DE LUTAS DA REGIÃO
          </h2>
        </div>
      </div>
      <div class="text-center pt-10 px-5 md:px-24 container">
        <p class="lato-regular text-lg md:text-3xl">
        A CMT12 foi criada pelo Mestre Clayton Mangueira.
 Aqui você aprende e  mantém seu condicionamento físico no Boxe, Muay Thai, MMA, Luta Livre,  Luta Olímpica e Jiu Jitsu.
        </p>
      </div>
    </section>
    <div class="main-content px-5 md:px-16 pt-16 md:pt-[8rem] space-y-16 container">
      <section class="space-y-8">
        <h2>NOSSOS TREINOS</h2>
          <div class="space-y-8 md:space-y-0 md:flex flex-wrap justify-center gap-4">
          {aulas.map(aula => (
            <div class="md:w-[calc(50%-16px)]">
              <Card title={aula.nome} href={aula.nome} img={aula.img}>
                <div>
                  <HoursList hours={aula.horarios} client:load/>
                </div>
              </Card>
            </div>
          ))}
        <div>
      </section>
      <section>
        <h2>NOSSA EQUIPE</h2>
        <Card title="CMT 12" href="/equipe" img="/images/equipe.jpg">
          <div class="text-lg space-y-2 lato-regular md:px-[200px] md:text-xl">
            <p>
            Conheça a nossa equipe. Alunos, professores, mestres, faixas pretas e futuras promessas.
            </p>
            <p>
            Aqui você encontra um resumo sobre cada professor, mestre e faixa preta.
            </p>
          </div>
        </Card>
      </section>
      <section>
        <h2>NOSSO MESTRE</h2>
        <Card title="Clayton Mangueira" href="/o-mestre" img="/images/mestre.jpeg" imgDesk="/images/mestre-desk.jpeg">
        <div class="text-lg space-y-2 lato-regular md:px-[200px] md:text-xl">
          <p>
          Carlos Clayton Araújo de Souza é o nome dele. O apelido "Mangueira" veio após um projeto social no bairro homônimo, na cidade do Rio de Janeiro, onde lecionava artes marciais para crianças carentes da região.
          </p>
        </div>
        </Card>
      </section>
      <section>
        <h2>Localização</h2>
        <LocationTabs client:load/>
      </section>
    </div>
	</main>
</Layout>

<style>
  .main-content section {
    text-align: center;
  }

  .main-content section h2 {
    font-size: 32px;
    font-family: 'Lato';
    font-weight: 300;
    margin-bottom: 32px;
  }
</style>
