
---
import Layout from '../layouts/Layout.astro';
import InfoPage from '../layouts/InfoPage.astro';

import jiujitsuImg from '@/images/jiujitsu_2.jpg';
---

<Layout title="Jiu Jitsu">
  <InfoPage title="Jiu Jitsu" img={jiujitsuImg.src} imgAlt="Pessoas lutando jiu jitsu">
    <section>
      <h2 class="text-4xl mb-6">Horários</h2>
        <ul class="flex flex-col gap-4 w-full md:w-96 mt-6 text-center">
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Terça: 20h 
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Terça (kids): 18:30h
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Quinta: 20h
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Quinta (kids): 18:30h 
          </li>
        </ul>
    </section>
    <section>
      <h2 class="text-4xl mb-6">
        A história do jiu jitsu 
      </h2> 
      <p class="mb-4">
  Você sabe o que é jiu jitsu? Se você pensou que jiu jitsu é uma luta praticada por pessoas que têm um pitbull de estimação e que adoram arrumar briga na rua, muito bem: você errou! Para começarmos a compreender essa luta, podemos tomar a tradução imediata do termo jiu jitsu, que seria “caminho suave”. Isso se deve aos seus princípios básicos, uma vez que essa prática privilegia o equilíbrio e o sistema de alavancas do corpo humano em detrimento do uso da força e das armas. Ou seja, uma luta que prioriza a consciência corporal ao invés da força, não pode ser associada às arruaças de rua.
      </p>
      <p class="mb-4">
  A história do jiu jitsu remete à Índia. Acredita-se que essa técnica teria sido criada por monges budistas, que buscavam um método de defesa pessoal. Conforme o budismo teria se expandido, o jiu jitsu também o teria. Assim, sua prática e ensinamentos passaram pela China até atingir o Japão, local onde a técnica foi popularizada. No século XIX, alguns mestres se dispersaram do Japão e um deles veio se fixar em Belém do Pará, em 1915, onde conheceu e criou vínculo com a família Gracie. Aí reside uma coincidência que modificaria o rumo dessa arte marcial. Gastão Gracie era pai de oito filhos, e incentivou o mais velho a aprender a arte com o mestre Esai Maeda Koma.
      </p>
      <p class="mb-4">
  Carlos Gracie, já detentor da arte marcial do jiu jitsu, mudou-se de Belém para o Rio de Janeiro aos dezenove anos de idade, com o intuito de lutar e de ensinar essa luta. Obteve tamanho sucesso ao ponto de modificar alguns aspectos do jiu jitsu tradicional e fundar um novo estilo de lutar: o brazilian jiu jitsu, que privilegiava a luta no chão, seguida por golpes de finalização, ao contrário do jiu jitsu tradicional que mantinha seu foco nas quedas.
      </p>
      <p class="mb-4">
  Atualmente, o jiu jitsu é um esporte reconhecido e regulamentado, em nosso país, pela Confederação Brasileira de Jiu Jitsu. Em nível regional, há as federações estaduais. As principais competições nacionais são o campeonato brasileiro, o campeonato brasileiro de equipes e o campeonato brasileiro de estreantes. Outro papel da confederação brasileira é o de selecionar atletas para competirem em nível internacional, como o campeonato pan-americano e o campeonato mundial.
      </p>
      <p>
  Os níveis de desenvolvimento de um atleta são representados pela cor da faixa que amarra o seu quimono. Para atletas adultos, as cores são: branca, azul, roxa, marrom, preta, coral e vermelha, em ordem crescente de habilidade. Já no que se refere às crianças, como modo de incentivo, há a inclusão de outras três cores de faixa, localizadas entre a branca e a azul, são elas: amarela, laranja e verde.
      </p>
    </section>
  </InfoPage> 
</Layout>
