---
import Layout from '../layouts/Layout.astro';
import InfoPage from '../layouts/InfoPage.astro';
---

<Layout title="Muay Thai">
  <InfoPage title="Muay Thai" img="/images/muaythai_2.jpg" imgAlt="Pessoas lutando muay thai">
    <section>
      <h2 class="text-4xl mb-6">Horários</h2>
        <ul class="flex flex-col gap-4 w-full md:w-96 mt-6 text-center">
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Segunda: 8:30h/18h/19h/20h
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Segunda (kids): 19h
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Terça: 17h
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Quarta: 8:30h/18h/19h/20h
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Quarta (kids): 19h 
          </li>
          <li 
            class="text-2xl capitalize 
            lato-light 
            py-4
            rounded-lg 
            border
            border-solid 
            border-white"
          >
            Quinta: 17h
          </li>
        </ul>
    </section>
    <section>
      <h2 class="text-4xl mb-6">
        A história do muay thai 
      </h2> 
      <p class="mb-4">
  O Muay Thai, também conhecido como boxe Tailandês, é um esporte originado na Tailândia, com mais de 1000 anos de existência. O esporte teve muita popularidade, pois na época em que começou teve o apoio do rei da Tailândia, conhecido como Tigre, o mesmo foi um dos maiores lutadores da história da Tailândia, e por sua popularidade o treinamento também era ensinado nas escolas, além de ser obrigatórios para os soldados. Já no Brasil o Muay Thai chegou no ano de 1979. Em 1980 foi inaugurado a primeira associação e em 1981 foi disputado o primeiro campeonato entre o Rio de Janeiro e o Paraná.
      </p>
      <p class="mb-4">
  Conhecido como um esporte de combate muito violento, com o uso dos cotovelos, joelhos, golpes com a canela, chutes e também golpes giratórios.
      </p>
      <p class="mb-4">
  As Cotoveladas podem ser usadas em diversos ângulos, como na diagonal, para cima ou para baixo. Esse golpe é mais usado quando a distância para o adversário é pequena.
      </p>
      <p class="mb-4">
  Os Joelhos são usados em 4 golpes diferentes: kao dode - pulo para cima e com a mesma perna é dado um golpe com o joelho; kao loi - pulo para o lado e com a mesma perna se da à joelhada; kao tom - joelhada para cima em linha reta e o kao noi onde a joelhada busca a coxa ou a barriga do adversário.
      </p>
      <p class="mb-4">
  Os socos também são utilizados de 4 formas: jab - soco com a mão da frente buscando o queixo do adversário; o direto é com a mão de trás buscando também o queixo; cruzado é o que cruza a linha frontal do adversário e o upper é o soco de baixo para cima buscando o queixo.
      </p>
      <p class="mb-4">
  Os chutes no muay thai são utilizados com o pé ou com a canela e existem 3 formas: round kick o chute circular que busca a coxa, canela ou cabeça, front kick é o chute frontal que busca a defesa de um golpe e já preparar para o ataque, spin back kick com um giro acerta o adversário com o calcanhar.
      </p>
      <p class="mb-4">
  Esta arte tem técnicas de ataque e defesa, e é um tipo de arte marcial onde existe muito atrito com o adversário.
      </p>
      <p>
  Nos tempos em que o Muay Thai surgiu na Tailândia, os monges budistas tinham a tradição de tatuar o corpo para se ter a proteção divina, e com isso também acreditam que têm a capacidade de conseguir a admiração dos adversários. E esta tradição também existe no Brasil, a grande maioria dos lutadores tem tatuagens pelo corpo. O simbolo no muay thai é a cobra Naja, pois como a Naja os lutadores devem ter um bote veloz e preciso e também bom reflexo.
      </p>
    </section>
  </InfoPage> 
</Layout>
