---
import { Image } from 'astro:assets';
import Menu from '@/components/Menu.tsx';
---

<header class="sticky flex justify-between items-center text-white text-2xl top-0 left-0 bg-primary px-5 py-4 z-50 lg:py-8">
  <div>
    <a href="/">
      <Image src='/images/logo.png' width="96" height="96" alt="logo cmt12" /> 
    </a>
  </div>
  <div>
    <Menu client:load/>
  </div>
</header>
